

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

::selection{
    background-color: aliceblue;
}
body {
    background-color: rgb(143, 69, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 100vh;
}
.inputBox{
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    inline-size: 350px;

}

h2{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
    border-block-end: 1px solid aliceblue;
    margin-block-end: 10px;
}
.passwordBox{
    padding: 0 10px;
 }
input{
    inline-size: 100%;
    letter-spacing: 3px;
    padding: 20px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    outline: 0;
    border: 1px solid #ccc;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    inline-size: 100%;
}

button{
    text-transform: capitalize;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;

}

button:first-child{
    color: aliceblue;
    background-color: rgb(143, 69, 212);
    inline-size: 69%;


}


button:last-child{
    color: #6c757d;
    background-color: transparent;
    inline-size: 28%;
    border: 1px solid #6c757d;


}

















